* {
  box-sizing: border-box;
}

.Works {
  margin: 30px 100px 0px 100px;
  display: flex;
  flex-direction: row;
}

.Work {
  width: 500px;
  margin: 0px 10px 10px 0px;

  /* flex: 50%; */
}

img {
  width: 100%;
}