.Works {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-around; */
}

.Work {
  width: 500px;
  margin: 0px 10px 10px 0px;
  /* flex-basis: auto; */
  /* flex: 50%; */
}

img {
  width: 100%;
}