/* .Navbar {
  position: fixed;
} */

ul {
  list-style-type: none;
  margin-left: 100px;
}

ul li {
  margin: 10px 0px 20px 0px;
}

.Logo {
  text-align: left;
  margin: 30px 0px 70px 100px;
  color: black;
}

.Contact {
  margin: 60px 0px 50px 100px;
}